/* ||   CSS IMPORTS   || */

/* ||   RESET   || */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display:none;
}

/* ||   STYLES   || */

#mainCanvas{
    width: 500px;
    height: 500px;
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(132, 169, 169, 0.195);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

/* ||   UTILITY CLASSES   || */

.displaynone{
    display: none;
}

.displayblock{
    display: block;
}