/* ||   CSS IMPORTS   || */

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Orbitron:wght@400..900&display=swap');


/* ||   RESET   || */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display:none;
}

/* ||   VARIABLES   || */

:root{
    --MAIN-CANVAS-COLOR: rgba(220, 64, 17, 0.195);
    --TEXT-CANVAS-COLOR: rgba(195, 255, 0, 0.195);
    --LOADING-BAR-COLOR: rgb(0, 255, 255);
    
    --LOADING-BAR-SIZE: 10px;
    --LOADING-BAR-PROGRESS-NUM: 0%;
    --CANVAS-GAP: -2px;

    --HIND-SILIGURI: "Hind Siliguri", sans-serif;
}

/* ||   STYLES   || */

.attributionArea{
    font-family: var(--HIND-SILIGURI);
}

#mainCanvas{
    width: 500px;
    height: 500px;
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--MAIN-CANVAS-COLOR);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#textCanvas{
    position: absolute;
    width: 300px;
    height: 250px;
    border: 3px solid black;
    background-color: var(--TEXT-CANVAS-COLOR);
    /* Align top edge with mainCanvas top */
    top: calc(50% - 250px); /* 500px / 2 */
    /* Place to the left of mainCanvas with a gap */
    left: calc(50% - 250px - var(--CANVAS-GAP) - 300px); /* main half-width (250) + gap + text width (300) */
}

.loadingScreen{
    margin-top: 30vh;
}

.loadingBar{
    margin: auto;
    border: 5px solid black;
    border-radius: 20px;
    width: 42%;
    padding: 0.55%;
}

.loadingProgressBar{
    background-color: var(--LOADING-BAR-COLOR);
    color: var(--LOADING-BAR-COLOR);
    font-size: var(--LOADING-BAR-SIZE);
    padding: 1.3%;
    border-radius: 20px;
    width: var(--LOADING-BAR-PROGRESS-NUM);
}

.loadingPercentageCounter{
    margin: auto;
    margin-top: 1%;
    text-align: center;
    font-family: var(--HIND-SILIGURI);
    font-size: 56px;
    font-weight: 500;
}

/* ||   UTILITY CLASSES   || */

.displaynone {
    display: none;
}

.displayblock {
    display: block;
}